@import url('https://fonts.googleapis.com/css2?family=Luxurious+Roman&display=swap');
*{
    margin: 0;padding: 0;box-sizing: border-box;
    font-family: 'Luxurious Roman', cursive;
}
body{
    width: 100%;
    height: 100vh;
    display: grid;
    place-content: center;
    background-color: #bdc3c7;
}
.container{
    width: 500px;
    height: auto;
    background-color: #fff;
    border: .2px solid gray;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
}
.question{
    font-size:30px ;
    font-weight: 400;
}
.options{
    margin-top: 20px;
}
.option{
    margin:10px 0px
}
.btn_container{
    display: flex;
    
justify-content: center;
}
label{
    margin-left: 7px;
}

.sumbit, .btn{
    display: grid;
    justify-content: center;
    padding: 6px 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: none;
    outline: none;
    color: #fff;
    background-color: #3498db;
    cursor: pointer;
}
.sumbit:hover{
    background-color: #2980b9;
}
.resultContainer{
    width: 400px;
    margin: auto;
    height: 100px;
    background-color: gray;
    margin-top: 15px;
    display: none;
}
input{
    cursor:pointer;
}